/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

.button-action-primary {
  background: #d9d9d9;
  border-radius: 0;
  color: black;
  border: none;
}

.button-action-secondary {
  background: #FFFFFF;
  border-radius: 0;
  color: black;
  border: none;
}

.action-login {
  height: 5rem;
}

.action-new-account {
  height: 5rem;
}

.brand-at-top {
  height: 3rem;
}

.login-action-text {
  margin-top: 5rem;
}

.background-card-primary {
  background: #f3f3f3;
}

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}